<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/components/head') %>
        <title>Schedule App | Contacts</title>
    </head>
    <body class="contacts">
        <%- include('includes/components/header'); %>

        <main class="main">
            <%- include('includes/layout/block-contacts'); %>
        </main>

        <script src="/js/bundle.js"></script>
    </body>
</html>