<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/components/head') %>
        <title>Schedule App | Home Page</title>
    </head>
    <body class="home">
        <%- include('includes/components/header'); %>

        <main class="main">
            <% if(!user) { %>
                <%- include('includes/layout/block-intro'); %>
            <% } else { %>
                <p> Welcome, <%- user.email %>! </p>
            <% } %>
        </main>

        <script src="js/bundle.js"></script>
    </body>
</html>