<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head') %>
        <title>Schedule App | Home Page</title>
    </head>
    <body class="home">
        <%- include('includes/header'); %>

        <main class="main">
            <%- include('includes/block-intro'); %>
        </main>

        <script src="js/bundle.js"></script>
    </body>
</html>