<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/components/head') %>
        <title>Schedule App | Sign-in Page</title>
    </head>
    <body class="signin">
        <%- include('includes/components/header'); %>

        <main class="main">
            <%- include('includes/layout/block-signin') %>
        </main>

        <script src="js/bundle.js"></script>
    </body>
</html>