<section class="block-signin">
    <div class="block-signin__content">
        <h1 class="primary-title block-signin__primary-title">Sign in</h1>
        <%- include('../components/inForm') %>
    </div>

    <div class="block-signin__box-img">
        <img 
            src="imgs/login.svg" 
            alt="" 
            class="block-signin__img"
        >
    </div>
</section>