<section class="block-signup">
    <div class="block-signup__content">
        <h1 class="primary-title block-signup__primary-title">Sign up</h1>
        <%- include('../components/upForm') %>
    </div>

    <div class="block-signup__box-img">
        <img 
            src="imgs/welcome.svg" 
            alt="" 
            class="block-signup__img"
        >
    </div>
</section>