<section class="block-intro">
    <div class="block-intro__content">
        <h1 class="primary-title">Schedule App</h1>

        <p class="paragraph">
            Welcome, please sign in or sign up!
        </p>
    </div>

    <div class="block-intro__box-img">
        <img 
            src="imgs/timeline.svg" 
            alt="" 
            class="block-intro__img"
        >
    </div>
</section>