<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="#" class="nav__link">Sign in</a>
        </li>

        <li class="nav__item">
            <a href="/signup" class="nav__link">Sign up</a>
        </li>
    </ul>
</nav>